.article-container{
	background-color: white;
	position: absolute;
	width: 100%;
}

/* section & issue */
.issue-container{
	height: 50px;
	position: absolute;
	width: 100%;
	bottom: 0;
	border-bottom: solid 1px rgb(51, 182, 0);
	z-index: 20;
}

.section, 
.hot-issue{
	float: left;
	line-height: 32px;
	height: 100%;
	padding: 10px;
}

.hot-issue{
	color: white;
	font-weight: bolder;
}

.section{
	background-color: rgb(51, 182, 0);
}

/* subject, datetime, publisher */

.subject, .write-time, .publisher{
	display: table;
	margin: 0px 10px;
}


.subject > p, .write-time > p, .publisher > p{
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
}

.write-time > p, .publisher > p{
	color: rgb(95, 95, 95);
}

.subject{
	margin-bottom: 5px;
	margin-top: 10px;
}

.subject > p{
	font-size: 25px;
}

hr{
	width: 95%;
	border: 1px solid rgb(211, 211, 211);
	margin-top: 20px;
}

.article-content{
	line-height: 2em;
	padding: 0px 10px 10px 10px;
}
.article-content > p {
	margin-top: 18px;
	line-height: 1.8;
}


/* 사진 영역 */
.imgContainer{
	position: relative;
	height: 250px;
	padding-top: 44px;
	overflow: hidden;
}

.imgContainer >img{
	position: absolute;
	width: 100%;
	z-index: 5;
}

.blured-div{
	height: 50px;
	z-index: 10;
	position: absolute;
	bottom: 0;
	overflow: hidden;
	width: 100%;
}

.blur-img{
	width: 100%;
	margin-top: -156px;
	
	filter: blur(10px);
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
}

/** header - Theme  **/
#header {
	background-color: rgba(255, 255, 255, .85);
}

/** header-logo - Theme  **/
.header-logo span {
	color: rgb(38, 38, 38);
}