@CHARSET 'UTF-8';

html, body {
	margin-bottom: 20px;
	height: 100%;
}

.wrapper {
	height: 100%;
}

#container {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
}

#container >div {
	height: 100%;
	width: 100%;
}