/* list화면의 배경 설정 */
.list-background{
	background-size: cover;
	overflow: hidden;
	1background-image: url(http://cdn.wallwuzz.com/uploads/tokyo-wallpaper-photography-city-scape-cityscape-grayscale-styles-cityscapes-wallwuzz-hd-wallpaper-20342.jpeg);
}

.list-move-container{
	height: 100%;
	width: 100%;
	position: relative;
}

.list-date-container{
	position: relative;
	height: 60%;
	text-align: center;
}

.datetime{
	position: absolute;
	bottom: 0;
	height: 80px;
	color: black;
	font-size: 35px;
	width: 100%;
	line-height: 80px;
	overflow: hidden;
	1background-color: rgba(255, 255, 255, 0.7);
}

.datetime > p, .datetime > img{
	position: absolute;
	left: 0;
}

.datetime > img{
	z-index: 50;
	
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	-ms-filter: blur(3px);
}

.datetime > p{
	z-index: 100;
	width: 100%;	
}

.whiten:before{
	content: "";
	background-color: rgba(255, 255, 255, 0.6);
	height: 80px;
	width: 100%;
	position: absolute;
	left: 0;
}

.list-lists{
	position: relative;
	height: 30%;
}

.issue-container{
	position: relative;
	height: 65px;
	color: black;
	display: table;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.issue{
	display: table-cell;
	vertical-align: middle;
	padding-left: 15px;
	font-size: 20px;
}