.article-issue {
	
	display: table;
	height: 5%;
	text-align: center;
	position: relative;
	
	.article-issue-title {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
	}
	
	.article-issue-comment {
		margin-top: 5px;
		position: absolute;
		right: 1%;
		top: 0;
	}
	
	.article-issue-title {
	}
}

/* 댓글영역 */
.article-comment {
	display: none;
}

/* 기사 본문영역 */
.article-content {
	position: relative;
	height: 82.6%;
	background-color: whitesmoke;
	
	.article-info {
		width: 100%;
		height: 15%;
		position: relative;
		margin-bottom: 10px;
		
		.publisher{
			height: 100%;
			width: 28%;
			position: absolute;
			left: 0;
			top: 0;
			
			img{
				position: absolute;
				margin: auto;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}
		
		.title{
			width: 72%;
			height: 70%;
			position: absolute;
			right: 0;
			top: 0;
			padding-left: 10px;
			padding-top: 8px;
			display: table;
			
			.article-title {
				display: table-cell;
				vertical-align: middle;
				position: absolute;
				width: 90%;
				height: 100%;	
				font-size: 20px;
			} 
			
		}
		
		.date{
			width: 72%;
			height: 30%;
			position: absolute;
			right: 0;
			bottom: 0;
			padding-left: 10px;
			padding-top: 5px;
			font-size: 13px;
		}
	}
	
	.article-data {
		width: 100%;
		
		.photo >img{
			width: 100%;
		}	
	
		.content {
			padding: 9px 20px;
			line-height: 25px;
		}
	}
	
	.indicator{
		position: absolute;
		bottom: 13px;
		width: 100%;
		text-align: center;
	}
}

